@import './style/common.less';

.hash-calendar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  border: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 4vw;

  &.calendar_inline {
    position: relative;
    width: 100%;
    height: auto;
    background: none;
    height: 710px;
    z-index: 1;
  }

  .calendar_content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    padding-bottom: 26px;
    flex-wrap: wrap;
    background: white;
    height: 710px;
    overflow: hidden;
  }

  .calendar_title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    .bgColor(background);
    .borderBottom();
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  .calendar_title_date {
    .viceFontColor(color);
    background: white;
    padding: 30px 15px;
  }

  .calendar_title_date_active {
    .mainFontColor(color);
    font-weight: bold;
  }

  .calendar_title_date_time {
    margin-left: 20px;
  }

  .calendar_confirm {
    .mainColor(color);
    margin-right: 34px;
  }

  .today_disable {
    .disabledFontColor(color);
  }

  .ctrl-img {
    width: 100%;
    text-align: center;

    img {
      /* px-to-viewport-ignore-next */
      width: 28px;
    }
  }

  .calendar_body {
    position: relative;
    width: 100%;
    margin-top: 100px;
  }

  .calendar_week {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    .flexAlign();
    background: white;
    .viceFontColor(color);
    z-index: 2;
  }

  .calendar_group {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
  }

  .calendar_group ul {
    height: 100%;
  }

  .calendar_group_li {
    position: absolute;
    top: 0;
    left: 4px;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    .flexAlign();
    flex-wrap: wrap;
    background: white;
    will-change: transform;
  }

  .calendar_item {
    width: 14.13333335%;
    .flexContent();
    flex-direction: column;
  }

  .calendar_item_disable {
    .disabledBgColor(background-color);
    opacity: 1;
    cursor: not-allowed;
    .disabledFontColor(color);
  }

  .calendar_day {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    .fontSize(28px);
    .flexContent();
    margin-bottom: 8px;
  }

  .calendar_first_today {
    .mainColor(color);
  }

  .calendar_first_today span {
    .fontSize(20px);
    margin-top: 3px;
  }

  .calendar_day_today {
    .bgColor(background);
  }

  .calendar_mark_circle {
    border: 1px solid @main-color;
  }

  .calendar_day_not {
    .disabledFontColor(color);
  }

  .calendar_day_checked {
    .mainColor(background);
    color: white;
  }

  .calendar_dot {
    /* px-to-viewport-ignore-next */
    width: 5px;
    /* px-to-viewport-ignore-next */
    height: 5px;
    border-radius: 50%;
  }
}
